<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="four wide column">
                <a style="display: inline-block; text-align: center;">
{#                    <h4 class="ui inverted header" style="color: #808080;">#}
{#                        Need even more features?#}
{#                        <div class="sub header" style="padding: 5px 0;">Check Sylius Plus out!</div>#}
{#                    </h4>#}
                    <img class="ui fluid image" style="max-width: 170px;" src="{{ asset('bundles/syliusshop/assets/shop_logo_banner.png') }}" alt="Logo Banner">
                </a>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">Company Name</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">{{ 'sylius.ui.about'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.faqs'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.payment_methods'|trans  }}</h4>
                <div>
                    <i class="huge inverted cc mastercard icon"></i>
                    <i class="huge inverted cc visa icon"></i>
                    <i class="huge inverted cc paypal card icon"></i>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui center aligned inverted basic segment">
            <p>&copy; <a style="color: #e58c7e;">Company Name</a>.</p>
            <a target="_blank" href="//facebook.com/SyliusEcommerce/"><i class="big grey facebook icon"></i></a>
            <a target="_blank" href="//instagram.com/sylius.team/"><i class="big grey instagram icon"></i></a>
            <a target="_blank" href="//twitter.com/sylius"><i class="big grey twitter card icon"></i></a>
        </div>
    </div>
</footer>
