<div class="ui basic segment">
    <div class="ui two column grid">
        <div class="column" id="column">
            <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('bundles/syliusshop/assets/shop_logo.png') }}" alt="Logo" class="ui small image" /></a>
        </div>
        <div class="right aligned column" id="column">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
</div>
