.ui.card > .content > a.header:hover, .ui.cards > .card > .content > a.header:hover {
    color: #e58c7e !important;
}

.ui.breadcrumb a {
    color: #e58c7e !important;
}

.ui.breadcrumb a:hover {
    color: #e58c7e !important;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #568555 !important;
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
    background-color: #195318 !important;
}

.ui.teal.button, .ui.teal.buttons .button {
    background-color: #3699AC !important;
}

.ui.teal.button:hover, .ui.teal.buttons .button:hover {
    background-color: #1F7A8C !important;
}
